<div class="container-fluid slider d-flex flex-column justify-content-center align-items-center">
  <div class="text-center text-white">
    <h3 class=" d-none d-md-block">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
    <h1 class="display">Lorem ipsum dolor sit amet.</h1>
    <p class="lead d-none d-md-block"> Lorem ipsum ad dadalkdald aldkaldkalsddkl dlakdla.</p>
  </div>
  <form action="" class="form-inline d-flex flex-column flex-sm-row">
    <div class="form-group mr-4">
      <input type="text" placeholder="Suscribete" class="form-control">
    </div>
    <div class="form-group">
      <input type="submit" class="btn btn-danger" value="Enviar">
    </div>
  </form>
</div>
